<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aro.stailishapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_icon_round"
        android:label="Stailish app"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StailishApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PresentationActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4735587225445673~8870677250" />

        <activity
            android:name=".PromptActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.StailishApp.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>